body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

main {
    background-color: #000000e3;
}

.custom-loader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3000;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: rgba(11, 14, 14, 0.5);
}

.center-loader {
    position: relative; top: 45%;
}

.svg-loader {
    width: 100px;
    height: 100px;
    background: none;
}

.jumbotron-header{
    background-color: #d40d0d !important;
    border: 5px solid white;
    color: white;
}

.jumbotron-title{
    font-weight: 600 !important;
}

.jumbotron-btn {
    background-color: white !important;
}

.container-list-hero {
    background-color: white;
    padding-top: 15px;
}

.container-details {
    background-color: #cecece;
    padding-top: 15px;
}

.container-hero{
    margin-bottom: 30px;
}

.container-hero-name{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.portrait-hero{
    width: 120px;
    height: 120px;
    cursor: pointer;
}

.portrait-hero-display {
    width: 60%;
    height: 80%;
}

.btn-link {
    margin-right: 10px;
}
